[b]Challenge Start:[/b] Now
[b]Challenge End:[/b] <<END_DATE>>

[b]Description:[/b]
Four separate challenges:
Base game only
Base game + Fortune
Base game + Villagers
Base game + Fortune + Villagers

[b]Details found here:[/b]
[thread=$THREAD_ID$][/thread]