[b]Challenge Start:[/b] Now
[b]Challenge End:[/b] <<END_DATE>>

[b]Description:[/b]
This is Tiny Towns challenge #<<CHALLENGE_NUMBER>>.
Four separate challenges:
Base game only
Base game + Fortune
Base game + Villagers
Base game + Fortune + Villagers

[b]Details found here:[/b]
[thread=$THREAD_ID$][/thread]

[b]Hosted by:[/b]
[user=MadMihi][/user]
