[b]Challenge Start:[/b] Now
[b]Challenge End:[/b] <<END_DATE>>

[b]Description:[/b]
This challenge will use the base game only and the base solo rules. 
The setup for each challenge will be randomly generated and you will compete with others to get the highest score. The only requirement is drawing the cards in the order specified by the challenge setup. Only the first blind submission will be considered for the challenge.


[b]Details found here:[/b]
[thread=$THREAD_ID$][/thread]