Challenge Start: Now
Challenge End: <<END_DATE>>

Description:
We will all play with the base game only (no promos). We will use the same starting buildings with no other randomness in the game; thus our scores for a month will be entirely comparable.

Details found here:
[thread=$THREAD_ID$][/thread]

Hosted by:
[user=Marctimmins89][/user]