[b]Challenge Start:[/b] Now
[b]Challenge End:[/b] <<END_DATE>>

[b]Description:[/b]
Welcome to the Rolling Realms Solo Challenge. Every month we will play with a randomly generated setup and dice rolls. You can participate with the retail version or the PnP version 10.1.

[b]Details:[/b]
[thread=$THREAD_ID$][/thread]