Challenge Start: Now
Challenge End: <<END_DATE>>

Description:
This is challenge #<<CHALLENGE_NUMBER>> for playing Cartographers solo. We play the base game with both mini expansions.


Details found here:
[thread=$THREAD_ID$][/thread]

Hosted by:
[user=cirdan][/user]